<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>BUILD_VERSION</key>
	<string>${BUILD_VERSION}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.317182542550-3bdem6r507g9t0jsm913272tvmoi492c</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>317182542550-3bdem6r507g9t0jsm913272tvmoi492c.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>SUPublicEDKey</key>
	<string>NorYmWIctYxmvhL92MFiQWm0tG9eSrLujt4DfFqRg8A=</string>
	<key>SUShowReleaseNotes</key>
	<false/>
</dict>
</plist>
